/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° partie contact */
/* on veut que cette partie ait une largeur et une longueur précise */
.contact{
    width: 100%;
    height: 60%;
    padding: 80px 0px 60px 0px;

 }
/* on affecte au titre une taille, une police, et un emplacement par rapport à la gauche et au haut de la page */
 h5{
    font-size: 34px ;
    font-family:'Montserrat' ;
    text-align: center;
    font-weight: bold;
    margin: 2%;
}
/* on affecte au titre une taille, une police, et un emplacement par rapport au haut de la page */
.contact p {
    text-align: center;
    padding-top: 20px;
    font-size: 18px;
    font-weight: lighter;
    position: relative; 
    margin-bottom: 30px;
}
/* on veut que nos boites soient aligner horizontalement d'ou le flex et on lui affecte un emplacement precis */
 .conteneur-boite{
   display: flex;
   text-align: center;
   gap: 100px;
   height: 200px;
   margin-left: 200px;
} 
/* on souhaite donner une couleur differente à notre boite1  à son arriére plan et aux ecritures et un positionnement précis  */
 div.boite1{
    display: grid;
    gap: 10px;
    font-size: 20px;
    background-color: #EFE5F3;
    color: #9B59B6;
    border-radius: 2rem;
    box-shadow: gray;
    padding-top: 20px;
    max-width: 25%;
    height: 80%;
 } 
 div.boite1 i{
   font-size: 70px;
 }
 div.boite2 i{
  font-size: 70px;
}
 .fal {
  font-family: 'Font Awesome 5 Pro';
  font-weight: 300;
  align-self: center;
  vertical-align:middle;
}
 /* on souhaite donner une couleur differente à notre boite2  à son arriére plan et aux ecritureset un positionnement précis  */
 div.boite2{
    display: grid;
    gap: 10px;
    padding-top: 20px;
    font-size: 20px;
    background-color: #f9ede0;
    color: #db7f34;
    border-radius: 2rem;
    box-shadow: gray;
    max-width: 25%;
    height: 80%;
}
    /* on souhaite donner une couleur differente à notre boite3 à son arriére plan et aux ecritures et un positionnement précis  */
 div.boite3{
    font-size: 20px;
    background-color: #DFF7E9;
    color: #2ECC71;
    border-radius: 2rem;
    box-shadow: gray;
    text-align: center;
    padding-top: 40px;
    max-width: 25%;
    height: 80%;
 } 
 

@media (max-width: 786px) {
  h5{
    font-size: 24px ;
}
.contact p {
    font-size: 15px;
}
  .conteneur-boite{
    display: grid;
    text-align: center;
    height: auto;
    margin-left: auto;
    justify-items: center;
 }
 div.boite1{
  display: grid;
  gap: 10px;
  font-size: 20px;
  background-color: #EFE5F3;
  color: #9B59B6;
  border-radius: 2rem;
  box-shadow: gray;
  padding-top:2%;
  max-width: 70%;
  height: 150px;
} 
div.boite2{
  display: grid;
  gap: 10px;
  padding-top: 2%px;
  font-size: 20px;
  background-color: #f9ede0;
  color: #db7f34;
  border-radius: 2rem;
  box-shadow: gray;
  max-width: 70%;
  height: 150px;
}
div.boite3{
  font-size: 20px;
  background-color: #DFF7E9;
  color: #2ECC71;
  border-radius: 2rem;
  box-shadow: gray;
  padding-top: 8%;
  max-width:70%;
  height: 150px;
} 
.conteneur-boite span {
  font-size: 15px;
}


}











/* °°°°°°°°°°°°°°°°°°°°°°° partie footer */

footer {
    background: #000;
    color: #EEE;
    text-align: center;
    font-size: 1.4rem;
    
  }
  
  footer p {
    margin: 0;
  }
  
  footer .grid {
    align-items: center;
  }
  
  footer .socials {
    justify-content: center;
    text-align: center;
  }
  
  footer .socials li {
    padding: 0 .7rem;
  }
  
  footer .socials a {
    color: #FFF;
    border: 1px solid #FFF;
    border-radius: 50%;
    padding: 1rem;
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    transition: all .4s;
  }
  
  footer .socials a:hover {
    background: #FFF;
    color: var(--color-body);
  }
  
 
  @media screen and (min-width:750px) {
    footer {
      text-align: left;
    }
  
    footer .grid__item {
      max-width: 33.333%;
    }
  }
  
  @keyframes slideInleft {
    from {
      transform: translateX(-110%);
    }
  
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes slideInRight {
    from {
      transform: translateX(110%);
    }
  
    to {
      transform: translateX(0);
    }
  }
  
  
 
  
 
 
